<header id="header">
    <h1><strong><a href="#">AgriChemical</a></strong> Application</h1>
    <nav id="nav">
        <ul>
            <li><a href="/agri-application">Agrichemical Application</a></li>
            <li><a href="/region">Region</a></li>
            <li><a href="/contractor">Contractor</a></li>
            <li><a href="/contractmanager">Contract Manager</a></li>
            <li><a href="/agrichemical">Agrichemical</a></li>
            <li><a href="/location">Location</a></li>
            <li><a href="/method">Method</a></li>
            <li><a href="/reason">Reason</a></li>
            <li><a href="/status">Status</a></li>
        </ul>
    </nav>
</header>
<section id="main" class="wrapper">
    <div class="container">
        <header class="major special">
            <h2>Method</h2>
            <p>Method Master</p>
        </header>

        <section>
            <form [formGroup]="methodForm" (ngSubmit)="OnSubmit()">
                <!-- <h2>Region Master</h2> -->

                <div class="row uniform 50%">
                    <div class="12u$">
                        <input type="text" formControlName="methodName" id="methodName"
                            placeholder="Enter method name" />
                    </div>
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="{{ btnSave }}" class="special" /></li>
                            <li><input type="reset" value="Cancel" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>

        <br>
        <br>
        <br>

        <section>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Method Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mtd of methodList; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{mtd.methodName}}</td>
                            <td><a (click)="editMethod(mtd.methodId)"><i style="cursor: pointer;" class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                            <td><a (click)="deleteMethod(mtd.methodId)"><i style="cursor: pointer;" class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>